* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.input-form {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin: 25px;
}

.input-text {
  border-radius: 10px;
  height: 35px;
  margin: 15px;
}

.bookmark {
  height: 20px;
  margin: 15px;
  width: 20px;
}

.label {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.select {
  border-radius: 10px;
  height: 35px;
  margin: 15px;
  padding-left: 8px;
  width: 150px;
}
